.logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.social{
    margin-left: 10px;
    text-align: center;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.social_logo{
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
}
.fa-1x{
    margin-top: 30px;
    color: white;
    width: 100%;
    cursor: pointer;
}
